[submodule "services/payments"]
	path = services/payments
	url = https://github.com/ServEase-Innovations/payments.git
[submodule "services/preferences"]
	path = services/preferences
	url = https://github.com/ServEase-Innovations/preferences.git
[submodule "services/providers"]
	path = services/providers
	url = https://github.com/ServEase-Innovations/providers.git
[submodule "services/coupons"]
	path = services/coupons
	url = https://github.com/ServEase-Innovations/coupons.git
[submodule "services/utils"]
	path = services/utils
	url = https://github.com/ServEase-Innovations/utils.git
[submodule "apps/servase-ui"]
	path = apps/servase-ui
	url = https://github.com/ServEase-Innovations/ServEase_UI.git
[submodule "services/notifications"]
	path = services/notifications
	url = https://github.com/ServEase-Innovations/notifications.git
[submodule "services/chat"]
	path = services/chat
	url = https://github.com/ServEase-Innovations/chat.git
[submodule "services/reviews"]
	path = services/reviews
	url = https://github.com/ServEase-Innovations/reviews.git
[submodule "apps/servease-ios"]
	path = apps/servease-ios
	url = https://github.com/ServEase-Innovations/servease_ios.git
